[buildout]
extends =
#     profiles/production.cfg
#     profiles/devel.cfg


# uncomment this if you want your app starts after reboot automatically
#parts += start_on_reboot

# set up a custom port
#[services_config]
#running_port = 5545

[amazon_config]
access_key =
secret_key =
associate_tag =
locale = us


[yahoo_config]
appid =


[rakuten_config]
applicationId =


[templates]
use =
# fishing_store
