<!-- Begin search form  -->
<div class="row">
  <form name="searchForm" ng-submit="search()">
  <div class="input-group input-group-lg">
    <span class="input-group-btn">
        <a class="btn btn-default" ng-click="isCollapsed = !isCollapsed"
           href>
            {{(category !== null)? 'Category: ' + category : 'Category'}}
        </a>
    </span>
      <input ng-model="keywords" type="text" class="form-control">
      <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Search</button>
      </span>
  </div>
  </form>
</div>
<!-- End search form  -->

<!-- Begin Categories list -->
<div class="row">
  <div collapse="isCollapsed" class="categories">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-2" ng-repeat="category in categories"
           ng-click="set_category(category)">
           <button type="button" class="btn btn-link" href>{{category}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Categories list -->

 <hr />

<!-- Begin results filtering -->
<div class="row">

  <!-- Begin min/max price filtering -->
  <div class="col-md-offset-4 col-md-5">


    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="sizing-addon3">Price from:</span>
      <input type="number" ng-model="price_range.MinimumPrice" class="form-control" placeholder="" aria-describedby="sizing-addon3">
      <span class="input-group-addon" id="sizing-addon3">Price to:</span>
      <input type="number" ng-model="price_range.MaximumPrice" class="form-control" placeholder="" aria-describedby="sizing-addon3">
    </div>


  </div>
  <!-- End min/max price filtering -->

  <!-- Begin condition filtering -->
<!--   <div class="col-md-3">
    <div class="btn-group pull-right" dropdown>
      <button type="button" class="btn btn-primary">Condition: {{avalivable_conditions[condition]}}</button>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(field_name, title) in avalivable_conditions"
            ng-click="set_condition(field_name)">
          <a href>{{title}}</a>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- End condition filtering -->

  <!-- Begin sorting -->
  <div class="col-md-3">
    <div class="btn-group pull-right" dropdown>
      <button type="button" class="btn btn-primary">Sorted by: {{avalivable_sorting[sort_by]}}</button>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="(field_name, title) in avalivable_sorting"
            ng-click="set_sorting_by(field_name)">
          <a href>{{title}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End sorting -->


</div>
<!-- End results filtering -->


<div class="row">
  <div ui-view></div>
</div>
